body {
    font-family: 'Arial', sans-serif;
    margin: 0; /* No margin for the body */
    padding: 0; /* No padding for the body */
    background-color: white;
}

header {
    background-color: #ff4757; /* Vibrant red for energetic feel */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.text {
    color: white; /* Gold color maintained for branding */
    text-shadow: 1px 1px 2px black;
}

header h1 {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main {
    padding: 0; /* No padding for main */
    text-align: center;
    width: 100%; /* Ensure main takes full width */
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjusts space management */
    padding: 0 10px; /* Removes any padding that might be adding space */
    background-color: #f6f6f6;
}

.game {
    width: 200px; /* Fixed width for uniformity */
    background-color: #f6f6f6;
    margin: 15px 0; /* Only top and bottom margins */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease; /* Smooth scaling on hover */
}

@media (max-width: 800px) {
    .games {
        justify-content: flex-start;
    }
    .game {
        width: 100%;
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .game h3 {
        margin-left: 10px;
    }
    .game img {
        max-width: 100px; /* Adjust width of the image */
        max-height: 100px; /* Set a fixed height */
        margin-right: 10px;
        object-fit: cover; /* Maintain aspect ratio and fill the container */
    }
}

.game img:hover {
    transform: scale(1.05); /* Slightly enlarges games on hover */
}

.game h3 {
    color: black; /* Echoes the header styling */
}

.game img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

#marquee {
    display: flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.banner-text {
    font-size: 24px;
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 10s ease-in-out infinite;
}

@keyframes scroll {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

@keyframes rainbow {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

